/* general */
#main {
  position: relative;
  transition: margin-left .5s; /*Transition effect for sidebar*/
}
body {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 16px;
  font-weight: 400;
  background: #f7f7f7;
}
#histTimeline {
  padding-left: 95%;
}
h1 {
  font-size: 48px;
  margin-bottom: 50px;
}
.visPage {
  position: relative;
  width: 100%;
}

/* landing pages */

.landingPage{
  position: relative;
  height:100vh;
  display: flex;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: lighten;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#landingPage h1{
  font-size: 60px;
}
.landingPage p{
  font-size: 24px;
}
.readMoreImage{
  fill: black;
}
.readMoreImage:hover {
  fill: #444444;
}
#overallLandingPage{
  background-image: url('../assets/edmonton-77798_1280.jpg');
  background-color: rgba(255,255,255,0.85);
}
#historicalLandingPage{
  background-image: url('../assets/Saskatchewan_Wheat.jpg');
  background-color: rgba(255,255,255,0.85);
}
.histVisElem{
  display: inline-block;
}
.historicalSelectors{
  vertical-align: top;
  display: flex;
  justify-content: space-evenly;
  color: #464141;
  font-size: 0.8rem;
}
#historicalVis{
  vertical-align: top;
  align-items: flex-start;
  align-content: flex-start;
  flex-direction: row;
}
#historicalGraphicsContainer{
  top: 0;
  left: 0;
  vertical-align: top;
  position: sticky;
  align-self: flex-start;
}
.historicalIsFixed{
  position: fixed;
}
#policyLandingPage{
  background-image: url('../assets/Algonquin_Cache_Lake_Lookout.jpg');
  background-color: rgba(255,255,255,0.85);
}
#endPage{
  position: relative;
  background-image: url('../assets/Marche_Bonsecours_Winter.jpg');
  height:100vh;
  display: flex;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(255,255,255,0.85);
  background-blend-mode: lighten;
  flex-direction: column;
  padding: 0 10px;
}
#end-title{
  text-align: center;
  justify-content: center;
  align-items: center;
}
.pictureCaption{
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 18px;
}
.leftCaption{
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 18px;
}
.landingPageTitle{
  position: relative;
  top: 8px;
  left: 16px;
}
.visTitle{
  position: relative;
  text-align: center;
  justify-content: center;
  line-height: 0;
}
.visWriteUp{
  font-size: 24px;
  text-align: center;
}
.buttonArray{
  float: left;
  padding: 10px;
}
.button {
  background-color: #4CAF50;
  border: black;
  border-radius: 25px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.button:hover{
  background-color: #69b16d;
}
.sourcesWriteUp{
  font-size: 10pt;
}

/* scrollwheel */
#prose {
  /*padding-top: 50%;*/
}
#prose .step {
  height: 500px;
}
.step {
  font-size: 1rem;
}


/*styling for all views*/

.button-label{
  font-size: 0.6rem;
}
.axis-label {
  font-size: .8rem;
  fill: #464141;
}
.axis text {
  font-size: .8rem;
  fill: #464141;
}
.stacked-bar-chart-x-axis text {
  font-size: .55rem;
}
.domain, .axis .tick line {
  stroke: rgb(146, 142, 142);
}
rect {
  shape-rendering: crispEdges;
}
.legendText {
  font-size: .8rem;
  fill: #464141;
}
#tooltip {
  position: absolute;
  display: none;
  background: #fff;
  box-shadow: 3px 3px 3px 0px rgb(92 92 92);
  border: 1px solid #ddd;
  font-size: 12px;
  font-weight: 500;
  padding: 8px;
  min-width: 100px;
  color: #333;
}
.tooltip-label-normal{
  font-weight: normal;
}
.chartTitle{
  font-size: 1rem;
  font-weight: normal;
  fill:#464141;
}

/* heatmap view */
#heatmap {
}
#sortSelect{
  bottom: 0;
}

/* choropleth view */
#choropleth {
  display: inline-block;
}
.geo-boundary-path {
  stroke: #fff;
  fill: none;
  stroke-width: 1;
}

/* stacked bar chart view */
#stackedBarChart {
  display: inline-block;
}

/*Timeline*/
.policy {
  stroke: white;
  stroke-width: 0.2;
}
.historical-toggle-checkbox {
  font-size: 20px;
}
.tooltip-title {
  color: #000;
  font-size: 14px;
  font-weight: 600;
}