/* Todo: add styles */
body{
    font-family: lato, sans-serif;
}
#landingPage{
    background-image: url('../assets/edmonton-77798_1280.jpg');
    height:100vh;
    display: flex;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(255,255,255,0.6);
    background-blend-mode: lighten;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}
#landingPage h1{
    font-size: 60px;
}
#landingPage p{
    font-size: 24px;
}
#landingPage .button{
    background-image: url('../assets/scroll button.png');
    background-size: cover;
}
#readMore{

}
#readMoreImage {
    fill: green;
}

  /* Tooltip: heatmap*/
#tooltip {
    position: absolute;
    display: none;
    background: #fff;
    box-shadow: 3px 3px 3px 0px rgb(92 92 92 / 0.5);
    border: 1px solid #ddd;
    font-size: 12px;
    font-weight: 500;
    padding: 8px;
    min-width: 100px;
    color: #333;
  }
  .tooltip-title {
    color: #000;
    font-size: 14px;
    font-weight: 600;
  }